
<div class="menu">
  <ul>
    <li><%= link_to 'Quenes somos', feiras_path%></li>
    <li><%= link_to 'Feiras', listFeiras_path%></li>
    <li><%= link_to 'Campionato de caza de raposo', campeonato_path%></li>
    <li><%= link_to 'Anuncios', anuncios_path%> </li>
    <li><%= link_to 'Contacto', contacto_path%> </li>
  </ul>
</div>

<div class="body_content">
  <div class="textoPrincipalCampeonato">
        <p>O día 18 de xaneiro de 2008 celebrouse un campionato provincial de caza de raposo 
        organizada pola Federación Galega de Caza xunto coa colaboración da Sociedade de caza 
        de Vila de Cruces.</p>
        <p>Tivo lugar entre o coto de Vila de Cruces, o de Silleda e o de Lalín e nel
        participaron arredor de 700 persoas organizadas en 65 cuadrillas.</p>
        <p>Déronlle caza a un total de 36 raposos; sendo 4 o número máximo de piezas cazadas
        por unha cuadrilla.</p>
        <p>A duración deste campionato foi dunha maña trala cal se celebrou unha comida para
        todos os participantes no pabillón municipal e á súa finalización realizouse a
        entrega de premios.</p>
      </div>
  <div id='slideshowHolder' class="fotosCampeonato">
    <% @nomeImaxes.each do |imaxe| %>
      <%= image_tag imaxe%>
    <%end%>
  </div>


  <script>
    $(document).ready( function(){
      $('#slideshowHolder').jqFancyTransitions({ width: 400, height: 291 });
    });
  </script>
</div>