<div class="encabezado"><%=image_tag 'encabezado.png'%></div>
 <div class="menu">
    <ul>
      <li><%= link_to 'Quenes somos', feiras_path%></li>
      <li><%= link_to 'Feiras', listFeiras_path%></li>
      <li><%= link_to 'Campionato de caza de raposo', listFeiras_path%></li>
      <li><%= link_to 'Anuncios', anuncios_path%> </li>
      <li><%= link_to 'Contacto', contacto_path%> </li>
    </ul>
</div>

<div class="body_content">
  <div class="logo">
    <%= image_tag 'logo.png' %>
  </div>
  <!--<div class="formulario">
    <div>formulario</div>
  </div>-->
   <div class="infoAsociacion">
    <p>Asociación de Caza de Vila de Cruces</p>
    <p>Tfno: 600 801 800 - 645 932 687</p>
  </div>
</div>
