<div class="encabezado"><%=image_tag 'encabezado.png'%></div>
<div class="menu">
    <ul>
      <li><%= link_to 'Quenes somos', feiras_path%></li>
      <li><%= link_to 'Feiras', listFeiras_path%></li>
      <li><%= link_to 'Campionato de caza de raposo', campeonato_path%></li>
      <li><%= link_to 'Anuncios', anuncios_path%> </li>
      <li><%= link_to 'Contacto', contacto_path%> </li>
    </ul>
</div>
  
<div class="body_content">
   <div id="quenesSomos">
    <div class="corpoQuenesSomos">
      
      <div class="textoPrincipal">
        <p>A asociación foi fundada por José Antonio Vázquez Sueiro no ano 1980. Actualmente e
          dende fai 5 anos está presidida por Manuel Camino Blanco.</p>
        <p>Esta sociedade adícase fundamentalmente á caza do coello, a do raposo; que conta con
        4 cuadrillas, e a do xabarín con 3. A cacería de arceas e de
        perdices son actividades practicadas en menor medida que as anteriores.</p>
        <p>Posúe un coto cunha superficie de 10.300 hectáreas divididas entre un total de 18
        parroquias, todas elas de Vila de Cruces, e son: Añobre, Asorey, Ferreirós, Gres,
        Insua, Merza, Obra, Oirós, Ollares, Piloño, Portodemouros, Sabrexo e Salgueiros, onde
        os 140 socios poden desfrutar libremente da práctica deste deporte.</p>
      </div>
      <div class="fotoSola" style="float:left">
          <%=image_tag 'foto1.jpg'%>
      </div>
      <div class="fotoSola" style="float:left">
          <%=image_tag 'foto3.jpg'%>
      </div>
      <div class="fotoSola" style="float:left">
          <%=image_tag 'foto4.jpg'%>
      </div>
       <div class="textoPrincipal">
        <p>Situada nas aforas do núcleo urbano de Vila de Cruces atópase a Granxa Cinexética.</p>
        <p>Con unhas instalacións de 2.500m2 a sociedade encárgase da cría de coellos e da aclimatación de perdices. 
        500m2 son para o parque da granxa, o resto do terreno está dedicado por enteiro á cría de coellos para
        repoboación dos montes e para a adaptación do voo das perdices.
        Para os coellos a zona está dotada con sete biotopos e ademais a sociedade ten máis coellos nos
        montes do concello que usan para repoboar.</p>
      </div>
    </div>
  
  </div>
</div>

