<div class="menu">
    <ul>
      <li style="background:#666"><%= link_to 'Quenes somos', feiras_path%></li>
      <li style=""><%= link_to 'Feiras', listFeiras_path%></li>
      <li><%= link_to 'Campionato de caza de raposo', campeonato_path%></li>
      <li><%= link_to 'Anuncios', anuncios_path%> </li>
      <li><%= link_to 'Contacto', contacto_path%> </li>
    </ul>
</div>
  
<div class="body_content">
   <div id="quenesSomos">
    <div class="corpoQuenesSomos">
quenees somos
    </div>
  
  </div>
</div>

