<div class="encabezado"><%=image_tag 'encabezado.png'%></div>
<div class="menu">
    <ul>
      <li style="background:#666"><%= link_to 'Quenes somos', feiras_path%></li>
      <li style=""><%= link_to 'Feiras', listFeiras_path%></li>
      <li><%= link_to 'Campionato de caza de raposo', campeonato_path%></li>
      <li><%= link_to 'Anuncios', anuncios_path%> </li>
      <li><%= link_to 'Contacto', contacto_path%> </li>
    </ul>
</div>
  
<div class="body_content">
   <div id="quenesSomos">
    <div class="corpoQuenesSomos">
      
      <div class="textoPrincipal">
        <p>aklsdfjeklwafjñlkfjaweifjawñlekfjaewfjaioewfjekfjadskl</p>
        <p>asldkfjewifajweklfjasñlkdcfaksdfjsdfjaksd</p>
        <p>asldkfjewifajweklfjasñlkdcfaksdfjsdfjaksd</p>
        <p>asldkfjewifajweklfjasñlkdcfaksdfjsdfjaksd</p>
        <p>asldkfjewifajweklfjasñlkdcfaksdfjsdfjaksd</p>
      </div>
      <div class="fotoSola" style="float:left">
          <%=image_tag 'foto1.jpg'%>
      </div>
      <div class="fotoSola" style="float:left">
          <%=image_tag 'foto3.jpg'%>
      </div>
      <div class="fotoSola" style="float:left">
          <%=image_tag 'foto4.jpg'%>
      </div>
       <div class="textoPrincipal">
        <p>Información sobre a granxa cinexética</p>
        <p>asldkfjewifajweklfjasñlkdcfaksdfjsdfjaksd</p>
        <p>asldkfjewifajweklfjasñlkdcfaksdfjsdfjaksd</p>
      </div>
    </div>
  
  </div>
</div>

