
<div class="menu">
    <ul>
      <li><%= link_to 'Quenes somos', feiras_path%></li>
      <li style="background:#666"><%= link_to 'Feiras', listFeiras_path%></li>
      <li><%= link_to 'Campionato de caza de raposo', campeonato_path%></li>
      <li><%= link_to 'Anuncios', anuncios_path%> </li>
      <li><%= link_to 'Contacto', contacto_path%> </li>
    </ul>
</div>

<div class="body_content">
  
  <div class="listFeiras">
    <ul>
      <% @feiras.each do |feira| %>
        <li><%= link_to feira.nome, feira %></li>
      <%  end %>
        <li><%=link_to 'Videos', contacto_path %></li>
      </ul>
  </div>

  <div id="cartel" class="cartelPortada">
    <%= image_tag 'cartel_vi.jpg' %>
  </div>

</div>