<div class="encabezado"><%=image_tag 'encabezado.png'%></div>
<div class="menu">
  <ul>
    <li><%= link_to 'Quenes somos', feiras_path%></li>
    <li><%= link_to 'Feiras', listFeiras_path%></li>
    <li><%= link_to 'Campionato de caza de raposo', campeonato_path%></li>
    <li><%= link_to 'Anuncios', anuncios_path%> </li>
    <li><%= link_to 'Contacto', contacto_path%> </li>
  </ul>
</div>

<div class="body_content">

  <div class="listFeiras">
    <ul>
      <% @feiras.each do |feira| %>
        <li><%= link_to feira.nome, feira %></li>
      <%  end %>
      <li><%=link_to 'Videos', contacto_path %></li>
    </ul>
  </div>
  <div>
    <p class="cabeceiraFotosFeiras">A continuación mostraranse automáticamente as fotos da
    <%= @feira.nome %> que se celebrou o día .</p>
    <div id='slideshowHolder' class="fotosFeiras">

      <% @nomeImaxes.each do |imaxe| %>

        <%= image_tag imaxe%>
      <%end%>
    </div>
  </div>
  <script>
    $(document).ready( function(){
      $('#slideshowHolder').jqFancyTransitions({ width: 600, height: 350 });
    });
  </script>
</div>