<div class="menu">
    <ul>
      <li><%= link_to 'Quenes somos', feiras_path%></li>
      <li><%= link_to 'Feiras', listFeiras_path%></li>
      <li><%= link_to 'Campionato de caza de raposo', campeonato_path%></li>
      <li><%= link_to 'Anuncios', anuncios_path%> </li>
      <li><%= link_to 'Contacto', contacto_path%> </li>
    </ul>
</div>

<div class="body_content">
  <p>Nestes momentos non se poden agregar novos anuncios. Desculpen as molestias.</p>
<!-- #render 'form' -->

</div>