<!DOCTYPE html>
<html>
<head><title>feira de cans de vila de cruces</title>
<meta name="title" content="feira de cans de vila de cruces"/>
<meta name="DC.Title" content="feira de cans de vila de cruces"/>
<meta http-equiv="title" content="feira de cans de vila de cruces"/>
<meta name="DC.Creator" content="www.altas-buscadores.com"/>
<meta name="keywords" content="VI feira de cans, listfeiras, feira de cans de vila de cruces, feira de cans, feiras, vila de cruces, galicia, sociedad de caza, rastro, jabali,
      coello, zorro, raposo, conejo, xabarin, perro, feria, escopeta, caceria, cuadrilla,
      campeonato de caza, campeonato de rastro, cans de parada, perros de parada, rastro de jabali,
      programa VI feira de cans"/>
<meta http-equiv="keywords" content="VI feira de cans, listfeiras, feira de cans de vila de cruces, feira de cans, feiras, vila de cruces, galicia, sociedad de caza, rastro, jabali,
      coello, zorro, raposo, conejo, xabarin, perro, feria, escopeta, caceria, cuadrilla,
      campeonato de caza, campeonato de rastro, cans de parada, perros de parada, rastro de jabali,
      programa VI feira de cans"/>
<meta name="description" content="Aqui se podra ver toda la informacion sobre la feria de perros 
      que se celebra en vila de cruces y que esta organizada por la sociedad de caza"/>
<meta http-equiv="description" content="Aqui se podra ver toda la informacion sobre la feria de 
      perros que se celebra en vila de cruces y que esta organizada por la sociedad de caza"/>
<meta http-equiv="DC.Description" content="Aqui se podra ver toda la informacion sobre la feria 
      de perros que se celebra en vila de cruces y que esta organizada por la sociedad de caza"/>
<meta name="author" content="sociedad de caza vila de cruces"/>
<meta name="DC.Creator" content="sociedad de caza vila de cruces"/>
<meta name="vw96.objectype" content="Document"/>
<meta name="resource-type" content="Document"/>
<meta http-equiv="Content-Type" content="ISO-8859-1"/>
<meta name="distribution" content="all"/>
<meta name="robots" content="all"/>

  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag :all %>

  <%= javascript_include_tag "jquery-1.7.1.min" %>
  <%= javascript_include_tag "jqFancyTransitions" %>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30110173-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div><%= render 'encabezado' %></div>
<%= yield %>
  <div><%= render 'footer' %></div>
</body>
</html>
