<!DOCTYPE html>
<html>
<head><title>feira de cans de vila de cruces</title>
<meta name="title" content="feira de cans de vila de cruces"/>
<meta name="DC.Title" content="feira de cans de vila de cruces"/>
<meta http-equiv="title" content="feira de cans de vila de cruces"/>
<meta name="DC.Creator" content="feira de cans de vila de cruces"/>
<meta name="keywords" content="feira de cans de vila de cruces, feria de perros de vila de cruces,
      proxima feira de cans de vila de cruces, proxima feria de perros de vila de cruces"/>
<meta http-equiv="keywords" content="feira de cans de vila de cruces, feria de perros de vila de cruces,
      proxima feira de cans de vila de cruces, proxima feria de perros de vila de cruces"/>
<meta name="description" content="Aqui poderase ver toda a informacion  sobre a feira de cans
      que se celebra en vila de cruces e que esta organizada pola sociedade de caza"/>
<meta http-equiv="description" content="Aqui poderase ver toda a informacion  sobre a feira de cans
      que se celebra en vila de cruces e que esta organizada pola sociedade de caza"/>
<meta http-equiv="DC.Description" content="Aqui poderase ver toda a informacion  sobre a feira de cans
      que se celebra en vila de cruces e que esta organizada pola sociedade de caza"/>
<meta name="author" content="sociedad de caza vila de cruces"/>
<meta name="DC.Creator" content="sociedad de caza vila de cruces"/>
<meta name="vw96.objectype" content="Document"/>
<meta name="resource-type" content="Document"/>
<meta http-equiv="Content-Type" content="ISO-8859-1"/>
<meta name="distribution" content="all"/>
<meta name="robots" content="all"/>

  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag :all %>

  <%= javascript_include_tag "jquery-1.7.1.min" %>
  <%= javascript_include_tag "jqFancyTransitions" %>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30110173-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div><%= render 'encabezado' %></div>
<%= yield %>
  <div><%= render 'footer' %></div>
</body>
</html>
